.paginator {
    margin: 10px;
    display: inline-block;
}
.pageNumber {
    margin: 3px;
    border: 1px solid grey;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 5px;
}
.pageNumber:hover {
    background: #ff6200;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: #fff;
    border-width: 1px;
    color: #fff;
    background-color: #285a9f;
}
